# Node
node_modules/
.env
.DS_Store
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build
/dist
/build

# Editor
.vscode/
.idea/
*.swp
*.swo
*.sublime-workspace
*.sublime-project

# OS
Thumbs.db
Desktop.ini

# Serena MCP
.serena/

# Others
*.local
*.cache
